<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DW_YBBX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="connStr" connectionString="Data Source=198.126.0.132;Initial Catalog=COMM;Persist Security Info=True;User ID=sa;Password=m@ssunsoft009"/>-->
    <add name="connStr" connectionString="Data Source=172.16.106.245;Initial Catalog=COMM;Persist Security Info=True;User ID=power;Password=m@ssunsoft009"/>
  </connectionStrings>
  <appSettings>
    <!--社保机构编号(职工)-->
    <add key="sbjgbh_ZGYB" value="37110101">
    </add>
    <!--社保机构编号(居民)-->
    <add key="sbjgbh_JMYB" value="37110101">
    </add>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
    <DW_YBBX.Properties.Settings>
      <setting name="众阳医保报销接口_WebReference_serviceproxy" serializeAs="String">
        <value>http://222.134.135.155:8888/mhc/services/serviceproxy.serviceproxyHttpSoap11Endpoint/</value>
      </setting>
      <setting name="众阳医保报销接口_WebReference_pipInvokeService" serializeAs="String">
        <value>http://10.112.188.5:9001/mhs5/siSettleService</value>
      </setting>
      <setting name="众阳医保报销接口_WebReference1_JwsServiceImplService" serializeAs="String">
        <value>http://10.112.188.5:9001/mhs5/siSettleService</value>
      </setting>
    </DW_YBBX.Properties.Settings>
  </applicationSettings>
</configuration>
