<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PayAPIInterfaceHandle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PayAPIInterfaceHandle.Properties.Settings>
            <setting name="PayAPIInterfaceHandle_webservice_inpatientRedeemWebService"
                serializeAs="String">
                <value>http://10.81.76.111:6068/City/inpatientRedeem.asmx</value>
            </setting>
            <setting name="PayAPIInterfaceHandle_AHFYCityWebReference_IJQCenterWebServiceservice"
                serializeAs="String">
                <value>http://10.81.245.3:6888/JQCenterWebService/JQCenterWebService.exe/soap/IJQCenterWebService</value>
            </setting>
        </PayAPIInterfaceHandle.Properties.Settings>
    </applicationSettings>
</configuration>