<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="雷电定位测试工具.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <雷电定位测试工具.Properties.Settings>
            <setting name="雷电定位测试工具_LDService_GetFlashReadService" serializeAs="String">
                <value>http://10.141.17.14:20190/LDService</value>
            </setting>
            <setting name="雷电定位测试工具_FaultReportService_FaultReportServiceService"
                serializeAs="String">
                <value>http://10.37.7.71:8087/WS2/service/FaultReportService</value>
            </setting>
            <setting name="雷电定位测试工具_FaultRecordService_FaultRecordServiceService"
                serializeAs="String">
                <value>http://10.37.7.71:8087/WS1/service/FaultRecordService</value>
            </setting>
        </雷电定位测试工具.Properties.Settings>
    </applicationSettings>
</configuration>