<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="connStr" connectionString="Data Source=172.18.0.25;Initial Catalog=COMM;Persist Security Info=True;User ID=power;Password=m@ssunsoft009"/>-->
    <!--<add name="connStr" connectionString="Data Source=172.22.25.6;Initial Catalog=COMM;Persist Security Info=True;User ID=power ;Password=m@ssuns0ft009"/>-->
    <add name="connStr" connectionString="Data Source=192.168.209.54;Initial Catalog=COMM;Persist Security Info=True;User ID=power ;Password=m@ssunsoft009"/>
  </connectionStrings>
  <appSettings>
    <!--社保机构编号(职工)-->
    <add key="sbjgbh_ZGYB" value="370100">
    </add>
    <!--社保机构编号(历城居民)-->
    <add key="sbjgbh_JMYB" value="370112">

    </add>
    <!--社保机构编号(南山区居民)-->
    <add key="sbjgbh_JMYBNS" value="370191">
    </add>

    <add key="JMMG_PATID" value="1">
    </add>
    <add key="JMTC_PATID" value="2">
    </add>
    <add key="PTMZ_PATID" value="3">
    </add>
    <add key="ZGMG_PATID" value="4">
    </add>
    <add key="MFYY_PATID" value="5">
    </add>
    <add key="ZGTC_PATID" value="6">
    </add>
    <add key="JMZY_PATID" value="7">
    </add>
    <add key="ZGZY_PATID" value="8">
    </add>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="NetWorkingPatCalssId" value="2,3,4,5,6,7,8,9"/>
    <add key="get_zfbl_xzbz_sbjglx" value="NetWorkingPatCalssId:2,6*p_xzbz:C*p_sbjglx:A/NetWorkingPatCalssId:3,7*p_xzbz:C*p_sbjglx:B"/>

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>

    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
